html {
  scroll-behavior: smooth;
  height: 100%;
}
:root {
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-family: $font-secondary;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($primary, 0.6);
  border-radius: 10px 0 0 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

body {
  cursor: default;
  font-family: $font-secondary, sans-serif;
  font-size: 24px;
  color: $primary;
  line-height: 1.7em;
  font-weight: 400;
  background: $white;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: $secondary;
}
body.active {
  overflow: hidden;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  pointer-events: none;
}
