$primary: #15ff00;
$primary-2: #3bff29;
$secondary: #0d2d23;
$black: #101010;
$black-primary: mix($primary, $secondary, 20%);
$white: #fff;

$font-primary: "Maison Neue", sans-serif;
$font-secondary: "JeanLuc", sans-serif;
